<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="playlist content">
            <form action="/playlist" method="POST">
                <u><b>Your Playlist: </b></u></br><br> 
            <% if (thePlaylist.length > 0) { %>
                <% thePlaylist.forEach(song => { %>
                    <% if (song.id < 10) { %>
                        <%= "0" + song.id + "." %>
                    <% } else { %> 
                        <%= song.id + "." %>
                    <% } %>
                    <%= song.artist + " - "%>
                    <%= "\"" + song.title + "\""%>
                    <%= " - " %>
                    <i><%=song.album %></i>
                    <%= " (" + song.duration + ") "%>
                    <a href="/playlist/<%=song.id%>/edit?title=<%=song.title%>&artist=<%=song.artist%>">edit</a>
                    <a href="/playlist/<%=song.id%>/delete?title=<%=song.title%>">delete</a></br> 
                    <% }) %>
            <% } %>
            </br><label>Add Song:</label></br>
            <label>Title:
                <input type="text" id="title" name="title" value="<%= locals.title %>" required>
            </label>
            <label>Artist:
                <input type="text" id="artist" name="artist" value="<%= locals.artist %>" required>
            </label>
            <label>Album:
                <input type="text" id="album" name="album" value="<%= locals.album %>" required>
            </label>
            <label>Duration:
                <input type="text" id="duration" name="duration" value="<%= locals.duration %>" required>
            </label>
            </br>
            <button>POST</button>
        </form>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>